
<!-- notice -->
	<% if flash[:notice] %>
	  <div class="alert" style="color: green">
	    <%= flash[:notice] %>
	  </div>
	<% end %>

<!-- body -->
	<div class="headline-box">
		<p class="row-lg welcome" style="font-size: 38px">
			welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>&nbsp;&nbsp;&nbsp;!!
		</p>
		<div class="welcome-text">
			In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>,<br>
			you can share and exchange tour opinions, inpressions , and emotions about varioius books!
		</div>
	</div>

	<div class="sign-box">
		<a href="/users/sign_in" class="btn btn-info active">Log in</a>
		<a href="/users/sign_up" class="btn btn-success">Sign up</a>
	</div>
