				<!-- 新規投稿 -->

		<h2 class="new-book">New book</h2>
			<%= form_for(@post_book, url: post_book_path) do |f| %>
				<p class="new-title"><strong>Title</strong></p>
				<%= f.text_field :title, class: "col-xs-12 title-field" %>
				<p class="new-body"><strong>Opinion</strong></p>
				<%= f.text_area :body, class: "col-xs-12 opinion-field" %>
				<%= f.submit "Create Book", class: "btn btn-primary col-xs-12 create-book" %>
			<% end %>
