.header{
	height: 50px;
}
.col-xs-3{
	color: white;
	line-height: 50px;
	font-size: 20px;
}
.col-xs-4{
	line-height: 50px;
	color: #9d9d9d;
}
// .glyphicon-home, .glyphicon-link, .glyphicon-edit, .glyphicon-log-in{
// 	padding: 0 5px 0 20px;
// }

.headline-box{
	padding-top: 30px;
	float: center;
	width: 600px;
	margin: 0 auto;
}
.welcome{
	text-align: center;
}
.welcome-text{
	font-size: 13px;
	line-height: 30px;
	width: 430px;
	margin: 0 auto;
}

.sign-box{
	width: 600px;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
}
.btn{
	width: 400px;
}

.copyright{
	font-size: 13px;
}